body {
    background-color: #a93c71;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    
}

h1 {
    color: black;
    font-style:italic;
    font-weight: bold;
    }


    input[type="number"] {
        padding: 10px;
        font-size: 16px;
        margin: 10px 0;
    }


.game {
    max-width: 400px;
    margin: 0 auto;
    background-color: #e6d645;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(168, 9, 17, 0.1);
}

.btn-primary {
    margin-top: 10px;
    background-color:pink;
}

#result {
    font-size: 20px;
    color: #d5e0eb;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold; 
}

.button {
    margin: 10px;
}

#startButton {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: #a2864d;
    border: white 8px groove;
    color: white;
}

#message {
    font-size: 1.2em;
}
  .form-control {
  color: blue;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 400;
}


